
body {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.new-container {
  width: 100%;
  background-color: rgba(200, 175, 175, 0.5);
  background-image: linear-gradient(135deg, rgba(200, 175, 175, 0.5), #E05D5D);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 6rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: white;
  transition: 0.5s;
  position: relative;
}

.bar:before, .bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: white;
  transition: 0.5s;
  right: 0px;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.overlay {
  width: 100%;
  background: url("../images/education.jpg") no-repeat top center / cover;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(200, 175, 175, 0.5);
}

.inner {
  text-align: center;
  padding: 0 2rem;
}

.title {
  font-size: 6rem;
  padding: 40px;
}

.new-container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.new-container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.new-container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.new-container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

.links {
  padding-top: 15rem;
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links ul {
  list-style: none;
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}


.links a {
  text-decoration: none;
  color: #423F3E;
  padding: 0.7rem 0;
  display: inline-block;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease ;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.new-container.active .links a {
  animation: appear 0.5s forwards ease 0.2s;
}

.title-div {
  padding: 0;
}

.name {
  color: #423F3E;
  font-size: 6rem;
  margin: 80px auto;
  font-family: 'Kaushan Script', sans-serif;
  display: inline-block;
}

h2 {
  color: #423F3E;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

h3 {
  color: #423F3E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.custom {
  background-color: #EEEEEE;
  text-align: center;
}

.obj {
  margin: auto;
}

.custom-c {
  height: 450px;
  margin: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(200, 175, 175, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.custom-b {
  text-align: left;
  margin: 20px;
}

.teacher-button, .contact-button, .courses-button, .about-button, .admission-button, .doubts-button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}

.teacher-button:hover, .contact-button:hover, .courses-button:hover, .about-button:hover, .admission-button:hover, .doubts-button:hover {
  color: blue;
}

.second-container {
  padding: 80px 50px;
  position: relative;
  background-color: rgba(200, 175, 175, 0.5);
  line-height: 2.5rem;
}

.third-container {
  background-image: url("../images/library.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}

h1 {
  font-family: 'Charm', cursive;
  color: #423F3E;
}

p, li {
  font-family: 'Merriweather', sans-serif;
  color: #423F3E;
}

.departments {
  text-align: center;
  width: 50%;
  margin: auto;
}

.departments-list {
  text-align: left;
  padding-left: 22%;
  color: #423F3E;
}

.profile-pic {
  height: 200px;
}

.a-t {
  padding-left: 30%;
}

.a-t li {
  color: white;
  font-weight: bolder;
  text-align: left;
  margin: 10px;
}

.a-t li a {
  text-decoration: none;
  color: rgba(0, 255, 200, 1);
}

.profile-pic {
  margin: 30px;
}

.teachers-heading {
  display: inline-block;
  border: 2px solid white;
  padding: 5px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.third-container h2 {
  color: white;
}

.third-container h3 {
  color: white;
}

.teacher-name {
  background-color: rgba(0, 0, 0, 0.3);
}

.fourth-container {
  padding: 80px 50px;
  position: relative;
  background-color: rgba(200, 175, 175, 0.5);
  line-height: 2.5rem;
}

.c-b {
  outline: black;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.custom-course {
  margin: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.note {
  margin: 20px;
  border: 2px solid #423F3E;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  padding:50px 30px;
}

.footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.footer a:hover {
  color: #B5FFD9;
}

.footer li  {
  color: rgba(255, 255, 255, 0.8);
  margin: 30px;
}

.footer li:hover {
  color: #B5FFD9;
}

.logo-img {
  height: 75px;
  z-index: 6;
}

a h6 {
  display: inline;
}

.footer-list {
  display: inline;
}

.footer-list li {
  display: inline;
}

.footer-logo-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  height: 250px;
  width: 250px;
  margin-left: 70%;
}

.footer-logo {
  height: 200px;
  margin: 25px 45px;
}

.belief {
  color: #2D46B9;
}
